<style>

/*estilos genericos*/

* {
	margin:0;
	padding:0;
	border:0;
}
html { 
	background-color: #212121;

}
h1{ 
	font-size: 2em;
	color: white;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 1;
	text-shadow: #000000 0 4px;
	font-display: block;
	background-color: #37264d;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-top: 5px;

}
h2{ 
	font-size: 2em;
	color: white;
}
.clearer {
	clear: both;
}

/*estilos cabecera*/

header { 
	max-width: 1000px; 
	display: block;
	margin: 0 auto !important; 
	float: none !important; 
}

#xarxes {
	float: right;
  padding:10px;
}

.xarxes-logo{
	float: right;
	padding: 5px;
	display: block;
}

.banner {
  width: 1000px;
  background-color: #4b4b4d;
  background-image: url('IMG/banner_img.jpg');
  float: left;
  margin-top: 25px;
}

.logo {
	float: left;
  	padding: 25px;
}
body { 
	max-width: 1000px; 
	margin: 0 auto !important; 
	float: none !important; 
}
#wrapper {
    width: 1000px;
    margin-top: 25px;
    overflow:hidden;
}

/*estilos navegador*/

nav {
	max-width: 1000px;
	margin-top: 10px;
	margin-left: 0px;
	font-family: "Karantina", sans-serif;

}

nav a:hover {
  border-bottom: 2px solid white;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 2;
  padding: 0;
}
.menu-1 {
	float: left;
	text-align: center;
	width: 198px;
	height: 30px;
	background-image: url(IMG/boton_1.jpg);
  display: inline-block;
  margin-bottom: 25px;
  margin-left: 2px;
  padding-top: 20px;

}
.main-menu {
	float: left;
	width: 1000px;

}

/*estilos destacados*/

.slider-1{
  border: 1px solid #969696;
	float: left;
	width: 325px;
	height: 140px;
	border: 
  margin-left: 0px;
  padding-top: 50px;
  display: block;
  text-align: center;
  text-shadow: #000000 0 2px;
  text-decoration: none;
  background-color: #858688;
  background-image: url(IMG/destacados_1.jpg);
}
.slider-1 a:hover{
  border-bottom: 1px solid white;
} 
.slider-2 {
	border: 1px solid #969696;
	float: left;
	width: 325px;
	height: 140px;
  	margin-left: 8px;
  	padding-top: 50px;
  	display: block;
  	text-align: center;
  	text-shadow: #000000 0 2px;
  	background-color: #858688;
  	background-image: url(IMG/destacados_2.jpg);
}
.slider-2 a:hover{
  border-bottom: 1px solid white;
} 
.slider-3 {
	border: 1px solid #969696;
	float: left;
	width: 325px;
	height: 140px;
  	margin-left: 8px;
  	padding-top: 50px;
  	display: block;
  	text-align: center;
  	text-shadow: #000000 0 2px;
  	background-color: #858688;
  	background-image: url(IMG/destacados_3.jpg);
}
.slider-3 a:hover{
  border-bottom: 1px solid white;
} 

/*estilo main*/

#main {
	width: 1000px;
	margin-top: 25px;
	background-color: #858688;
	font-family: "Open Sans", sans-serif;
	background-image: url(IMG/bkgr.jpg);

}
/*estilos noticias*/
.img_container {
	float: left;    
 	padding-right:15px;
}
#texto {
	width: 520px;
	background-color: #4b4b4d;
	color: #e6e7e9;
	margin-left: 220px;
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*estilos footer*/
footer{
	width: 1000px;
	height: 45px;
	color: #e6e7e9;
  	margin-top: 25px;
  	margin-bottom: 25px;
  	padding-top: 25px;
  	display: block;
  	text-align: center;
  	background-color: #4b4b4d;
}



</style>